<% include ../partials/header %>
<div class='container'>
    

    <header class='jumbotron'>
        <div>
            <h1><strong>MARK IT DEAL</strong></h1>
            <p>Enjoy and Share your Shopping Achievements</p>
            <div class='form-group'>
                <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
                	<!-- Email field (required) -->
                	EMAIL: <input type="text"  name="email"/>
                	<!-- Campaign token -->
                	<!-- Get the token at: https://app.getresponse.com/campaign_list.html -->
                	<input type="hidden" name="campaign_token" value="TY1WP" />
                	<!-- Subscriber button -->
                	<input type="submit" class='btn btn-danger' value="Subscribe"/>
                </form>
            </div>
            <div class='form-group'>
                <a class='btn btn-primary' href='/new'>Share your Deals</a>
            </div>
                
        </div>
    </header>
    
    <div class='row text-center' id='itemblock'>
        <% deal.forEach(function(deal){ %>
            <div class= 'col-md-3 col-sm-6'>
                <div class='thumbnail'>
                    <% if(!deal.dealimg){ %>
                        <a href='/deal/<%= deal._id %>'>
                            <img class='img-responsive' src='http://68.media.tumblr.com/tumblr_lx0qalLMrf1qav92co1_500.gif'>
                        </a>
                    <% } else{ %>
                        <a href='/deal/<%= deal._id %>'>
                            <img class='img-responsive' src='<%= deal.dealimg %>'>
                        </a>
                    <% } %>
                    <div class='caption'>
                        <h4><%= deal.name %></h4>
                    </div>
                    
                    <div class='text-center'>
                        <a href='/deal/<%= deal._id %>' class='btn btn-primary'>Details</a>
                        <a href='<%= deal.dealurl %>' class='btn btn-success'>Link</a>
                    </div>
                </div>
                
            </div>
        <% }); %>
    </div>
    
        

</div>
<% include ../partials/footer %>